bin/
obj/
vs/
.vs/
.user/
Slackord_Win/Slackord/[Bb]in/
Slackord_Win/Slackord/[Oo]bj/
Slackord_Win/Slackord/.vs/Slackord
Slackord_Win/Slackord/[Pp]ublish/
Slackord_Mac_Linux/Slackord/[Bb]in/
Slackord_Mac_Linux/Slackord/[Oo]bj/
Slackord_Mac_Linux/Slackord/.vs/Slackord
Slackord_Mac_Linux/Slackord/[Pp]ublish/
*.1
*.v2
*.user
