# Visual Studio temporary files
.vs/

# Build results
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# .NET MAUI specific files/folders
/bin/
/obj/
/*/bin/
/*/obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results of an ATL project
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/PublishProfiles/
*.sw?
*.[Cc]ache
*.bak
*.tgz
*.hprof
Thumbs.db
[Tt]est[Rr]esult*/
*.csproj.user
*.node
*.psess
*.idea/
*.sln.iml
*.testsettings
*.njsproj
*.suo
*.docstates
*.vcxproj.filters
*.vcxproj.user
*.rdl.data
*.mdf
*.ldf
*.pdb
*.ipch/
*.sqlproj.user
*.vcproj.*

# NuGet
packages/
*.nupkg
*.paket.*
.paket/
.paket/

# MSTest
TestResults/
[Bb]uild[Ll]og.*
TestResult.xml

# StyleCop
StyleCopReport.xml

# ReSharper
_ReSharper*/
*.sln.DotSettings.user
*.resharper.user
.DS_Store
.DS_Store
.DS_Store
.DS_Store
